@model IEnumerable<BiluthyrningAB.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Lägg till bil</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LicenseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDrivenKm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDrivenKm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarId" class="btn btn-outline-info">Ändra</a> 
                <a asp-action="Details" asp-route-id="@item.CarId" class="btn btn-outline-info">Detaljer</a> 
                <a asp-action="Delete" asp-route-id="@item.CarId" class="btn btn-outline-info">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
